#about{
  width: 100vw;
  height: 100vh;
  display: flex; 
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

/*Auto-Type Animation*/
.introduction-container{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* position: relative;
  top:-100px; */
}

.intro {
  font-size: 50px;
  margin-bottom: 0;
}
.briefing{
  font-size: 25px;
}
.typing-container h1, .auto-type {
  font-size: 30px;
  font-weight: lighter;
}
.blue{
  color: #21aec0;
}

/*Profile View*/
.profile-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #ff3130;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile img{
  background-color: transparent;
}
.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;  /* Pivot around the bottom-left palm */
  display: inline-block; /*  Ensures that the emoji element behaves inline with the text flow while still being able to hold block-level dimensions. This is crucial for the vertical translation animation (transform: translateY(...)) to have the desired effect of making the emoji move up and down as intended.*/
  background-color: transparent;
}
@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
  10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
 100% { transform: rotate( 0.0deg) }
}
.socialmedia-conatiner{
  display: flex;
  position: relative;
}
.socialmedia-icon{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #FBBC05;
  background-color: #FBBC05;
  margin: 15px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialmedia-icon, i{
  font-size: 20px;
  color: white;
}
.socialmedia-icon:hover{
  transform: translateY(10px);
  transition: transform 1s ease;
}
.resume-container{
  position: relative;
}

.button:hover:enabled {
  box-shadow: 0 0.5em 0.5em -0.4em #21aec0ba;
  background-image: linear-gradient(130deg, #e2f5f7, #21aec0 , #21aec0);
  transform: translateY(-0.15em);
  cursor: pointer;
} 
.button{
  width: 120px;
  height: 40px;
  border-radius: 5px;
  font-size: 15px;
}
.resume-container a:nth-child(1) button{
  background-color: #21aec0;
  border: #21aec0;
}
.resume-container a:nth-child(2) button{
  background-color: #60c2c8;
  border: #60c2c8;

}
.briefing-top h3{
  text-align: center;
  font-size: 15px;
  width: 600px;
  color: black;
  position: relative;
  top: -20px;
}
@media (max-width: 915px){
  #about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  .intro{
    font-size: 40px;
    position: absolute;
    top: 15%;
  }
  .typing-container{
    width: fit-content;
    position: absolute;
    top: 22%;
  }
  .profile-container{
    position: absolute;
    top: 30%;
  }
  .socialmedia-conatiner{
    position: absolute;
    top: 72%;
  }
}