@import url('https://fonts.googleapis.com/css2?family=Product+Sans&display=swap');

* {
  font-family: 'Product Sans', sans-serif;
  text-decoration: none;
  background:whitesmoke;
  color: black;
}
.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;  /* Pivot around the bottom-left palm */
  display: inline-block; /*  Ensures that the emoji element behaves inline with the text flow while still being able to hold block-level dimensions. This is crucial for the vertical translation animation (transform: translateY(...)) to have the desired effect of making the emoji move up and down as intended.*/
  background-color: transparent;
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
  10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
 100% { transform: rotate( 0.0deg) }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar li {
  display: inline-block;
  margin-right: 30px;
  font-size: 20px;
  font-weight: 700;
}

.navbar li a[data-hover="About"]{
  text-decoration: none;
  border: 2px solid #e32c2c;
  border-radius: 40px;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #e32c2c;
}

.navbar li a:hover {
  box-shadow: 0 2px 4px;
  border-radius: 40px;
  border: 2px solid;
  padding-inline: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: ease-in-out;
}

.navbar li a:hover[data-hover="Skills"]{
  color: #4285F4;
}

.navbar li a:hover[data-hover="Projects"] {
  color: #FBBC05;
}

.navbar li a:hover[data-hover="Contact"] {
  color: #34A853;
} 
#about{
  width: 100%;
  height: 100vh; /* Set the height to cover the full viewport height */
  /* display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}
/*Auto-Type Animation*/
.intro {
  font-size: 50px;
  margin-bottom: 0;
}
.briefing{
  font-size: 25px;
}
.container h1, .auto-type {
  font-size: 30px;
  font-weight: lighter;
}

.red {
  color: #EA4335;
}
.green {
  color: #34A853;
}
.blue {
  color: #4285F4;
}
.yellow {
  color: #FBBC05;
}
/* .profile, .desktop{
  border: 2px solid sandybrown;
} */

.desktop {
  display: flex;
  justify-content: center; /* Center the image horizontally */
  top: -100px;
  border: 5px hidden black;
  border-radius: 10px;
}