#home{
    background-color: #e2f5f7;
    height: 200px;
    display: flex;
    align-items: center;
}
.briefing h3{
    color: black;
}
.block img{
  width: 50px;
  height: 50px;
}
.block-container{
  width: 220px;
  height: 200px;
  margin: 0 30px;
  /* border: 1px solid cadetblue; */
  /* background-color: black; */
  position: relative;
}
.block{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  opacity: 0;
  border-radius: 5px;
  animation-name: fallingBlock;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  position: absolute;
}
@keyframes fallingBlock{
  0%, 100% {
    opacity: 0;
    transform: translateY(-100px);
  }
  10%, 80% {
    opacity: 1;
    transform: translateY(0px);
  }
  90% {
    opacity: 0;
  }
}
.block:nth-child(1){
  animation-delay: 0;
  top: 150px;
}
.block:nth-child(2){
  animation-delay: 0.2s;
  top: 150px;
  left: 55px;
}
.block:nth-child(3){
  animation-delay: 0.4s;
  top: 150px;
  left: 110px;
}

.block:nth-child(4){
  animation-delay:0.6s;
  top: 95px;
  left: 55px;
}

.block:nth-child(5){
  animation-delay: 0.8s;
  top: 95px;
  left: 110px;
}
.block:nth-child(6){
  animation-delay: 1s;
  top: 40px;
  left: 55px;
}
.block:nth-child(7){
  animation: fallingAndRotating 6s ease-in-out 1.5s infinite;
  top: 150px;
  left: 165px;
}
@keyframes fallingAndRotating {
  0%,85%,100%{
    opacity: 0;
    transform: translateY(-100px);
  }
  12.5%{/*(0.5s / 4s)*/
    opacity: 1;
    transform: translateY(0);
  }
  20%,60%{ /*(1s / 4s)*/
    opacity: 1;
    transform: rotate(-20deg) translateX(6px);
  }
  65%{
    opacity: 1;
    transform: translateX(0);
  }
}
