@import url('https://fonts.googleapis.com/css2?family=Product+Sans&display=swap');
* {
  font-family: 'Product Sans', sans-serif;
  text-decoration: none;
  /* background:whitesmoke; */
  /* background-color: transparent; */
  color: black;
}
body{
  width: 100vw;
}
:root{
  --color-primary: #6c63ff;
  --color-red: #ff3130;
  --color-orange:#fbbc05;
  --color-yellow:#fed054;
  --color-blue: #21aec0;
  --container-width-lg: 76%;
  --container-width-md: 90%;
  --container-width-sm: 94%;
  --height-new:calc(100vh - 10px);
}

h1{
  font-size: 50px;
}
html{
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
  box-shadow: 0 1px 4px rgba(146,161,176,.3);
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100vw;
  height: fit-content;
  padding: 5px 3px;
}
header nav li {
  display: inline-block;
  margin-right: 30px;
  font-size: 20px;
  font-weight: 700;
}
header nav li a{
  position: relative;
  text-decoration: none;
  font-size: 1em;
  color: #333;
  text-transform: uppercase;
}
header nav li a::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  /* background: #FBBC05; */
  background-image: linear-gradient(131deg, #ffd340, #ff923c, #ff923c, #ff923c);
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
}
header nav li a:hover::before{
  transform: scaleX(1);
  transform-origin: left;
}
header nav li a.active{
  color: #21aec0; 
}
header button{
  display: none;
}

@media (max-width: 915px) {
  header{
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 50px;
    padding: 0;
  }
  header button#close-menu-btn{
    display: none;
  }
  header button{
    display: block;
    background-color: transparent;
    border: none;

  }
  header button i{
    background-image: linear-gradient(180deg, #ffd340, #ff923c, #ff3130);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 30px;
    cursor: pointer;
  }
  header .extended-nav{
    background-color: #f74949;
    display: none;
    width: 100vw;
    height: calc(100vh - 50px);
    position: absolute;
    top: 90%;
    /* margin-top: 10px; */
  }

  header .extended-nav li{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: calc((100vh - 50px)/4);
  }
  header .extended-nav li a, header .extended-nav li a.active{
    font-size: 40px;
    color: whitesmoke;
  }

  header .extended-nav li a::before{
    background-image: linear-gradient(131deg, #ffd340,#ffd340, #ff923c, #ff923c);
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
  }
  header .extended-nav li a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
  }
}