#projects{
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.projects-title-container{
    display: flex;
    /* border: 1px solid sandybrown; */
}
.gear-container {
    position: relative;
    /* top: 10px; */
    width: 150px;
    height: 100px;
    /* border: 1px solid seagreen; */
    
}

#gear1, #gear2, #gear3 {
    display: inline-block;
    position: absolute;
    font-size: 50px;
    font: outline;
}

#gear1 {
    color: #ffd693;
    top: 53px;
    left: 28px;
}

#gear2 {
    color: #ffb420;
    top: 20px;
    left: 60px;
}

#gear3 {
    color: #ffd693;
    top: 52px;
    left: 94px;
}

.spin {
    animation: spin 4s linear infinite;
}

.spin-back {
    animation: spin-back 4s linear infinite;
}

@keyframes spin { 100% { transform: rotate(360deg); } }
@keyframes spin-back { 100% { transform: rotate(-360deg); } }
.slider-container{
    width: 75%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    position: relative;
    top: -100px;

}

.left-arrow button,.right-arrow button {
    width: 65px;
    height: 65px;
    font-size: 45px;
    border-radius: 50%;
    transition: transform 0.2s ease-in-out;
    background-color: #fed0542A;
    border: 2px solid #fed054;
   
}

.left-arrow button:hover,.right-arrow button:hover {
    transform: scale(1.1);
    cursor: pointer;
    background-color: #fed0548A;
}

.card-set-container{
    width: 80%;
    height: 80%;
    border: 2px solid #fed054;
    border-radius: 0px 50px 0px 50px;
    box-shadow: 1px 0 10px #fed054, -1px 0 50px #fed054;
    background-color: #fed0542A;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card-set-container:not(.active){
    display: none;
}

.card-container{
    width: 28%;
    height: 90%;
    border: 1px solid black;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-container:hover{
    box-shadow: -5px 5px black;
    transform: translateY(-5px);
    transition: transform 0.3s ease-in;;
}

.card-container .top{
    width: 90%;
    height: 40%;
    border: 1px solid black;
    /* box-shadow: 5px 5px 0 #ffd693, 5px 5px 0 1px black; */
    border-radius: 5px;
    position: relative;
    top: 5px;

}
.card-container .top img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-heading{
    font-size: 30px;
    background-color: transparent;
}

.card-container .bottom{
    width: 90%;
    height: 50%;
    background-color: transparent;
}
.card-container .bottom p{
    font-family: 'Courier New', Courier, monospace;
    color: #e4a21f;
    font-weight: 900;
    background-color: transparent;
}

.more-info, .source{
    width: 100%;
    height: 50px;
    background-color: rgba(255, 212, 118,0.8);
    /* background-color: rgba(255, 116, 72,0.5); */
    /* background-color: rgba(33, 174, 192,0.5); */
    border-top: 1px solid #e4a21f;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.source a, .source-item, .source-item-hover {
    background-color: transparent;
    width: 35px;
    height: 35px;
    border-radius: 10px;
}
.source-item-hover{display: none;}

.source:hover .source-item {
    display: none;
}

.source:hover .source-item-hover {
    display: block;
}


.pages-tab-container{
    width: 80px;
    height: 30px;
    border-radius: 20px / 20px;
    border: 2px solid #fed054;
    background-color: #fed0541A;
    
    position: absolute; /*absolute to the parent tag "slider-container"*/
    left: 45%;
    top: 100%;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.page-tab{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #e4a21f;
    background-color: #e4a21f;
}

.page-tab:not(.active){
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #e4a21f;
    background-color: #e4a21f1A;
}