#skills{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: whitesmoke;
}

#skills h1{
  margin: 80px;
}
.tab-container {
  width: 75%;
  min-height: 500px;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid sandybrown; */
}
.tab-container .button-container {
  margin-top: 10px;
  border-radius: 5px;
  background-color: white;
  width: 50%;
  height: 55px;
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  align-items: center; /* Center the buttons vertically */
}
.tab-container .button-container button {
  width: 30%;
  height: 70%;
  cursor: pointer;
  font-size: 15px;
  background-color: white; 
  margin: 0 10px 0 10px;
  border: none;
  border-radius: 5px;
}
.tab-container .button-container button:hover {
  background-color: #f2fbfe; 
}
.tab-container .button-container button.active {
  background-color: #21aec0;
  box-shadow: 2px 2px 18px #21aec0;
  color: mintcream;
  /* box-shadow: 10px 5px 15px #fed9b7; */
  /* box-shadow: 5px 5px 18px rgba(48, 68, 247, 0.6); */
}
.tab-container .tab-panel {
  width: 80%;
  min-height: 10%;
  display: none;
  /* border: 2px solid crimson; */
}

.skill-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 100px; /* Adjust the gap size as needed*/
  margin: auto; /* Center the container horizontally*/
  margin-top: 50px;
}
.skill-item {/*each skill div*/
  /* border: 3px solid #0282a7; */
  width: 80px;
  height: 80px;
  border-radius: 30%;
  margin-right: 5px;
  text-align: center;
  position: relative;
}
.skill-icon{
  width: 80%; /* Increase the size by 5% */
  height: 80%; /* Increase the size by 5% */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.skill-icon-hover{
  width: 80%; /* Increase the size by 5% */
  height: 80%; /* Increase the size by 5% */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: none;

}

.skill-item:hover .skill-icon {
  display: none;
}

.skill-item:hover .skill-icon-hover {
  display: block;
  border-radius: 30%;
  transition-delay: 5s;
}
.skill-item p {
  background-color: transparent;
  margin: 10px 0 0;
  position: absolute;
  bottom: -30px;
  left: 0;
  right: 0;
  text-align: center;
}
.skill-item img{background-color: transparent;}
