.handshake {
    animation: handshake-animation 2s infinite;
    display: inline-block;
}

  @keyframes handshake-animation {
    0%{transform: translateY(0px);}
    10%{transform: translateY(10px);}
    20%{transform: translateY(0px);}
    30%{transform: translateY(10px);}
    40%{transform: translateY(0px);}
    100%{transform: translateY(0px);}
  }
  
  
  
  
  /* For demonstration purposes only: */
  body { font-size: 3.5em }
  h1 { font-size: 0.5em }